$red-soft: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);

$dark-brown: hsl(25, 47%, 15%);
$midium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$pale-orange: hsl(33, 100%, 98%);

$xs: 32rem;
$sm: 42.66666666rem;
$md: 55.11111111111111rem;
$lg: 66.66666666666667rem;
$xlg: 77.77777777777778rem;
